

<% if user_signed_in? %>

      <%= current_user.email %>
            <%= button_to "logout", destroy_user_session_path, method: :delete  %>
        

 
<h3>
<label for="">Access Id: </label>
<strong  style="color: red;">
<%= @application.uid %>

</strong></h3>

<h3>
<label for="">Access Secret: </label>
<strong style="color: red;">
<%= @application.secret %>
</strong></h3>
<% else %>
  <h1 align="center">You Can Get Acces Key And Secret Key After Sign Up Or Login</h1>
    <h1 align="center"><%= link_to "Sign in", new_user_session_path %></h1> 
    <h1 align="center"><%= link_to "Sign up", new_user_registration_path %></h1>


    
<% end %>
  


